<h1>Sneaker Admin</h1>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>SNEAKER</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let shoe of sneakers'>
          <td>{{shoe.id}}</td>
          <td>{{shoe.name}}</td>
          <td>
          <button type="button" class="btn btn-prmary" (click)="setSneaker(shoe.id)">Show Details</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
  </div>
</div>
