<h1>User Admin</h1>
<div class="container row">
  <div class="col-md-6">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            {{user.id}}
          </td>
          <td>
            {{user.name}}
          </td>
          <td><button type="button" class="btn btn-primary">Show Detail</button></td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-add-user *ngIf="action === 'add'" [user]="selectedUser"></app-add-user>
  </div>
</div>
